.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  .img {
    width: 100%;
    min-height: 830px;
    position: relative;
  }

  .img2 {
    width: 100%;
    min-height: 750px;
    position: relative;
  }
  .img1,
  .img3 {
    min-height: 780px;
    width: 100%;
    position: relative;
  }
}
